# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# vs code workspace
.vscode

# Dependency directories
node_modules/

dist/

# dotenv environment variable files
.env

# keys
private.key
public.key
